# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_DONGLE_DISPLAY
	def_bool $(shields_list_contains,dongle_display)

if SHIELD_DONGLE_DISPLAY

config ZMK_DONGLE_DISPLAY_BONGO_CAT
	bool "Bongo cat animation widget"
	default y

config ZMK_DONGLE_DISPLAY_MODIFIERS
	bool "Modifier status widget"
	default y

config ZMK_DONGLE_DISPLAY_LAYER
	bool "Layer status widget"
	default y

config ZMK_DONGLE_DISPLAY_WPM
	bool "Words per minute widget"
	default y

config ZMK_DONGLE_DISPLAY_DONGLE_BATTERY
	bool "Include dongle battery level in widget"
	default y

config ZMK_DONGLE_DISPLAY_MAC_MODIFIERS
	bool "Show Mac-specific modifier symbols"
	default n

config ZMK_DONGLE_DISPLAY_WPM_DISABLED_LAYERS
	string "Layer names to disable WPM on"
	default ""

config ZMK_DONGLE_DISPLAY_LAYER_NAME_SCROLL_WIDTH
	int "Max width in pixels for scrolling layer name"
	default 30
	range 1 128

config ZMK_DONGLE_DISPLAY_LAYER_TEXT_ALIGN
	string "Text alignment for layer name"
	default "left"

endif # SHIELD_DONGLE_DISPLAY
