# Split keyboard support
if SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT || SHIELD_CORNE_LEFT_PERIPHERAL || SHIELD_CORNE_DONGLE
config ZMK_SPLIT
    default y
config ZMK_SPLIT_BLE
    default y
endif

# Dongle: Central role and battery proxy
if SHIELD_CORNE_LEFT || SHIELD_CORNE_DONGLE
config ZMK_KEYBOARD_NAME
    default "Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y
endif
